@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700|Material+Icons|Material+Icons+Outlined|Material+Icons+Round);
*,
html,
body,
html * {
    font-family:     'Roboto', sans-serif;
    font-size:       14px;
    scroll-behavior: smooth !important;
}
.gradient { background-image: linear-gradient(to left, #C51162 0%, #1a73e8 100%); }
.primary { background-color: #1a73e8 !important; }
.outline-primary {
    background: transparent !important;
    border:     1px solid #1a73e8 !important;
}
.primary-text { color: #1a73e8 !important; }
.error { background-color: #F44336 !important; }
.outline.error {
    background: transparent !important;
    border:     1px solid #F44336 !important;
}
.btn-flat.red { background-color: #F44336 !important; }
.btn-flat.disabled { border: 1px solid #9e9e9e !important; }
*.disabled { cursor: not-allowed !important;}
.error-text { color: #F44336 !important; }
.light { background-color: rgb(255, 255, 255) !important; }
.light-text { color: rgb(63, 21, 21) !important; }
.light.darken-1 { background-color: rgba(255, 225, 255, 0.7) !important; }
.light.darken-2 { background-color: rgba(0,0,0,0.04) !important; }
.light-text.darken-2 { color: rgba(0, 0, 0, 0.04) !important; }
.light-text.darken-1 { color: rgba(255, 225, 255, 0.7) !important; }
.light.disabled { background-color: rgba(255, 225, 255, 0.5) !important; }
.light-text.disabled { color: rgba(255, 225, 255, 0.5) !important; }
.dark { background-color: #202124 !important; }
.dark-text { color: #172528 !important;}
.dark.darken-1 { background-color: #1b1c1f !important; }
.dark.darken-2 { background-color: #0e0e0e !important; }
.dark.darken-3 { background-color: #010101 !important; }
.dark-text.darken-1 { color: #061619 !important;}
.remove.hover { background: transparent !important; }
.remove.padding { padding: 0 !important; }
.remove.margin { margin: 0 !important; }
.remove.img-margin { margin-bottom: -26px !important; }
.rounded { border-radius: 25px !important; }
.bold { font-weight: bold !important; }
.button {
    background:      transparent !important;
    font-weight:     500 !important;
    margin:          0;
    border:          none;
    border-radius:   25px !important;
    overflow:        visible;
    font:            inherit;
    color:           inherit;
    text-transform:  none;
    display:         inline-block;
    box-sizing:      border-box;
    padding:         0 20px;
    vertical-align:  middle;
    font-size:       14px;
    line-height:     38px;
    text-align:      center;
    text-decoration: none;
    text-transform:  uppercase;
}
.logo-text {
    font-weight: 100 !important;
    left:        inherit !important;
}
header .content-text { font-weight: 300 !important; }
header nav ul a:hover { background-color: rgba(0, 0, 0, 0.1); }
header nav ul a.register {
    font-weight:  500 !important;
    margin-right: 5px;
}
header nav ul a.login:hover { background-color: rgba(0, 0, 0, 0.2) !important; }
.justify {
    text-align:   justify !important;
    text-justify: inter-word !important;
}
.modal {
    background:  #061619 !important;
    border-radius: 25px !important;
    color:       #9e9e9e !important;
}
main .title-text { font-weight: 300 !important; }
main .content-text { font-weight: 300 !important; }
.outline { border: 1px solid #9e9e9e !important; }
.outline-white { border: 1px solid white !important; }
.toast {
    background: black !important;
    box-shadow: 0 0 2pt 4pt #0e0e0e !important;
    border:     none !important;
    outline:    none !important;
}
.input-field input:focus + label { color: #1a73e8 !important; }
.row .input-field input:focus,
.emojionearea,
.emojionearea.form-control {
    border:     1px solid #1a73e8 !important;
    box-shadow: none !important;
}
.input-field .prefix.active { color: #1a73e8 !important; }
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
.emojionearea,
.emojionearea.form-control {
    background-color:   transparent !important;
    border:             none !important;
    color:              #9e9e9e !important;
    border:             1px solid #9e9e9e !important;
    border-radius:      25px !important;
    outline:            none !important;
    height:             3rem !important;
    width:              -moz-available;
    width:              -webkit-fill-available;
    font-size:          15px !important;
    margin:             0 0 8px 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
    -webkit-box-sizing: content-box !important;
    box-sizing:         content-box !important;
    transition:         border .3s !important;
}
.input-field input {
    padding-left:  10px !important;
    padding-right: 10px !important;
}
.input-field.col label {
    padding-left: 10px !important;
}
.input-field > label:not(.label-icon).active {
    transform:                translateX(20px) scale(0.8) translateY(-15px) !important;
    -webkit-transform-origin: 0 0 !important;
    transform-origin:         0 0 !important;
    margin:                   2px 0 0 0 !important;
    background:               #061619 !important;
    border:                   1px #061619 solid !important;
    padding:                  0px 10px 0 10px !important;
}
input:not([type]).error,
input[type=text]:not(.browser-default).error,
input[type=password]:not(.browser-default).error,
input[type=email]:not(.browser-default).error,
input[type=url]:not(.browser-default).error,
input[type=time]:not(.browser-default).error,
input[type=date]:not(.browser-default).error,
input[type=datetime]:not(.browser-default).error,
input[type=datetime-local]:not(.browser-default).error,
input[type=tel]:not(.browser-default).error,
input[type=number]:not(.browser-default).error,
input[type=search]:not(.browser-default).error,
textarea.materialize-textarea.error {
    color:  #F44336 !important;
    border: 1px solid #F44336 !important;
}
input:not([type]).error + label,
input[type=text]:not(.browser-default).error + label,
input[type=password]:not(.browser-default).error + label,
input[type=email]:not(.browser-default).error + label,
input[type=url]:not(.browser-default).error + label,
input[type=time]:not(.browser-default).error + label,
input[type=date]:not(.browser-default).error + label,
input[type=datetime]:not(.browser-default).error + label,
input[type=datetime-local]:not(.browser-default).error + label,
input[type=tel]:not(.browser-default).error + label,
input[type=number]:not(.browser-default).error + label,
input[type=search]:not(.browser-default).error + label,
textarea.materialize-textarea.error + label { color: #F44336 !important; }
.inline-icon { vertical-align: sub; }
.card-title.landing {
    font-weight:    500 !important;
    text-transform: uppercase !important;
    font-size:      24px !important;
}
.card-title-holder { margin-bottom: 9px; }
.card-text {
    margin-top:     10px;
    font-weight:    200 !important;
    font-size:      16px !important;
    padding-bottom: 40px;
}
.card-image {
    max-width:  100% !important;
    max-height: 100% !important;
    display:    block !important;
}
::-webkit-scrollbar {
    width:      0px;
    height:     0px;
    background: transparent;
}
.open-sidenav { cursor: pointer; }
[type="checkbox"]:checked + span:not(.lever):before {
    top:                         -4px;
    left:                        -5px;
    width:                       12px;
    height:                      22px;
    border-top:                  2px solid transparent;
    border-left:                 2px solid transparent;
    border-right:                2px solid #1a73e8 !important;
    border-bottom:               2px solid #1a73e8 !important;
    -webkit-transform:           rotate(40deg);
    transform:                   rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility:         hidden;
    -webkit-transform-origin:    100% 100%;
    transform-origin:            100% 100%;
}
.admin-title,
.modal .title,
.card .card-title.title { font-weight: 100 !important; }
.button.lowkey {
    background-color: transparent !important;
    border-radius:    25px !important;
    width:            100% !important;
    color:            white !important;
    font-weight:      500 !important;
    text-transform:   uppercase !important;
    border:           solid white 1px !important;
    text-decoration:  none !important;
    letter-spacing:   .5px !important;
}
.btn.disabled,
.disabled.btn-large,
.disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
    pointer-events:     none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
    background-color:   transparent !important;
    color:              #9F9F9F !important;
    cursor:             not-allowed !important;
}
.sidenav li > a,
.sidenav li > a > i { color: white !important; }
.sidenav li > a,
.sidenav li > p { color: rgb(200, 200, 200) !important; }
.sidenav li > a.white-text { color: white !important; }
.collection,
.collection .collection-item.avatar { border: none !important; }
.collection .collection-item.avatar {
     border-left:                4px solid #1a73e8 !important;
     border-top-right-radius:    3px !important;
     border-bottom-right-radius: 3px !important;
     margin-bottom:              15px !important;
}
.collection .collection-item.avatar .secondary-content { top: 30px !important; }
.collection .collection-item.avatar div.secondary-content a:hover {
    border-radius:    50% !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.pointer i {
    color:  white !important;
    cursor: pointer !important;
}
a.pointer i.red { color: #F44336 !important; }
a.pointer i:hover {
    border-radius:    50% !important;
    background-color: rgb(0, 0, 0, 0.1) !important;
}
.modal { z-index: 1500 !important; }
.actions.active {
    color:      white !important;
    background: #1a73e8 !important;
}
.actions.active > a { color: white !important; }
.actions {
    border-radius: 0 75px 75px 0 !important;
    padding:       5px !important;
}
.actions > a { color: #9e9e9e !important; }
.actions > a > i,
.actions > a span { pointer-events: none !important; }
.actions:not(.active):hover { background-color: rgba(0, 0, 0, 0.6) !important; }
.actions.outline.error:not(.active):hover { background-color: #F44336 !important; }
.actions.outline.error:not(.active):hover > a { color: white !important; }
.use.all.width { width: 100% !important; }
.x-medium { font-size: 2.3rem !important; }
.input-field>label:not(.label-icon).active {
    transform:                translateX(20px) scale(0.8) translateY(-15px) !important;
    -webkit-transform-origin: 0 0 !important;
    transform-origin:         0 0 !important;
    margin:                   2px 0 0 0 !important;
    padding:                  0px 10px 0 10px !important;
}
.input-field > label:not(.label-icon).active.white-label {
    background: #0e0e0e !important;
    border: 1px #0e0e0e solid !important;
}
.input-field > label:not(.label-icon).active.white-label.darken-3 {
    background: #010101 !important;
    border: 1px #010101 solid !important;
}
.timeline { position: relative; }
.timeline .timeline-event {
    position:       relative;
    padding-top:    5px;
    padding-bottom: 5px;
}
.timeline .timeline-event .timeline-content {
    position: relative;
    width:    calc(50% - 50px);
}
.timeline .timeline-event::before {
    display:    block;
    content:    "";
    width:      2px;
    height:     calc(50% - 30px);
    position:   absolute;
    background: #d2d2d2;
    left:       calc(50% - 1px);
    top:        0;
}
.timeline .timeline-event::after {
    display:    block;
    content:    "";
    width:      2px;
    height:     calc(50% - 30px);
    position:   absolute;
    background: #d2d2d2;
    left:       calc(50% - 1px);
    top:        calc(50% + 30px);
}
.timeline .timeline-event:first-child::before { display: none; }
.timeline .timeline-event:last-child::after { display: none; }
.timeline .timeline-event:nth-child(even) .timeline-content { margin-left: calc(50% + 50px); }
.timeline .timeline-event:nth-child(odd) .timeline-content { margin-left: 0; }
.timeline .timeline-badge {
    display:       block;
    position:      absolute;
    width:         40px;
    height:        40px;
    background:    #d2d2d2;
    top:           calc(50% - 20px);
    right:         calc(50% - 20px);
    border-radius: 50%;
    text-align:    center;
    cursor:        default;
}
.timeline .timeline-badge i {
    font-size:   25px;
    line-height: 40px;
}
@media (max-width: 600px) {
    .timeline .timeline-event .timeline-content { width: calc(100% - 70px); }
    .timeline .timeline-event::before { left: 19px; }
    .timeline .timeline-event::after { left: 19px; }
    .timeline .timeline-event:nth-child(even) .timeline-content { margin-left: 70px; }
    .timeline .timeline-event:nth-child(odd) .timeline-content { margin-left: 70px; }
    .timeline .timeline-badge { left: 0; }
}
.tabs .indicator {
    height:                  4px !important;
    background-color:        #1a73e8 !important;
    border-top-left-radius:  3px !important;
    border-top-right-radius: 3px !important;
    margin:                  0 8px !important;
}
.tabs .tab:hover {
    border-radius:    10px !important;
    background-color: rgba(0, 0, 0, 0.04) !important;
}
.tabs .tab:hover a:focus,
.tabs .tab:hover a:focus.active { background-color: transparent !important; }
.tabs li > a > i.material-icons,
.tabs li > a > i.material-icons-outlined,
.tabs li > a > i.material-icons-rounded {
    margin:     0 0 0 0 !important;
    padding:    0 0 0 0 !important;
    margin-top: 10px !important;
}
.tabs li > a.active > i.material-icons,
.tabs li > a.active > i.material-icons-outlined,
.tabs li > a.active > i.material-icons-rounded { color: #1a73e8 !important; }
.tabs.dark { background-color: #0e0e0e !important; }
.collection .collection-item.avatar { background-color: #0e0e0e !important; }
.collection .collection-item.avatar a i{ color: white !important; }
.outline-grey {
    border:        1px solid #9e9e9e !important;
    border-radius: 10px !important;
}
.divider {
    background-color: #383a3f !important;
    height:           4px !important;
    border-radius:    3px !important;
}
.vertical-divider {
    border-radius: 3px !important;
    display:       block;
    content:       "";
    width:         4px;
    height:        90%;
    position:      absolute;
    background:    #383a3f;
    left:          300px;
    top:           0%;
    z-index:       -10;
}
blockquote { border-left: 5px solid #1a73e8 !important; }
.new.badge.pending {
    margin-top:    6px !important;
    border-radius: 25px;
}
a.pending-hover:hover { background-color: rgba(0, 0, 0, 0.3) !important; }
.teste2 {
    border-radius: 25px;
    border:        1px solid #1a73e8;
}
nav,
nav .nav-wrapper { box-shadow: none !important; }
.remove.click,
a.remove.click,
a.remove.click > span {
    pointer-events: none !important;
    cursor:         default !important;
}
.max-height {
    height:     100%;
    min-height: calc(10vh - 64px) !important;
}
.max-width { width: 100% !important; }
.scrollable { overflow-y: scroll !important; }
.card.extra.large { height: 600px; }
.center-img {
    left:                        50%;
    display:                     block;
    position:                    relative;
    -webkit-backface-visibility: hidden;
    transform:                   translate(-50%, -70%);
    border-radius:               50% !important;
}
.remove.boxshadow { box-shadow: none !important; }
.chat-wrapper .chat-message {
    position         : relative;
    float            : left;
    clear            : both;
    margin           : 4px 10px 20px;
    padding          : 10px;
    border-radius    : 16px;
    line-height      : 22px;
    background-color : #ddd;
    white-space      : pre-wrap;
    font-size        : 12px !important;
}
.chat-wrapper .chat-file {
    position: relative;
    clear: both;
    color: #9F9F9F;
    box-shadow: 0 0 2pt 4pt #0e0e0e !important;
}
.chat-wrapper .chat-file .card {
    background: #010101 !important;
}
.chat-wrapper { padding: 0 !important; }
.chat-wrapper .chat-message.right {
    background-color: #1a73e8;
    color: #fff;
    float: right !important;
}
.chat-wrapper .chat-message.right .circle {
    left:  auto;
    right: -50px
}
.chat-wrapper .chat-message .circle {
    position: absolute;
    top:      -2px;
    left:     -50px;
    height:   42px;
    width:    42px
}
.chat-top-info {
    border-bottom:              4px solid #1a73e8 !important;
    border-bottom-left-radius:  3px !important;
    border-bottom-right-radius: 3px !important;
}
.dropdown-content {
    background-color: #0e0e0e !important;
    border-radius:    25px !important;
}
ul.dropdown-content a { color: white !important; }
ul.dropdown-content a > i.online { color: #1b5e20 !important; }
ul.dropdown-content a > i.idle { color: #ef6c00 !important; }
ul.dropdown-content a > i.no-disturbe { color: #F44336 !important; }
ul.dropdown-content a > i.offline { color: #9e9e9e !important; }
ul.dropdown-content div { font-size: 12px !important; }
ul.dropdown-content li:hover { background-color: rgba(0, 0, 0, 0.8) !important; }
.status.online { box-shadow: 0 0 2pt 4pt #1b5e20; }
.status.idle { box-shadow: 0 0 2pt 4pt #ef6c00; }
.status.disturbe { box-shadow: 0 0 2pt 4pt #F44336; }
.status.offline { box-shadow: 0 0 2pt 4pt #9e9e9e; }
.remove-sidenav-line { line-height: 1.5 !important; }
.landing-wave { display: block; }
svg:not(:root),
symbol,
image,
marker,
pattern,
foreignObject { overflow: hidden; }
path.landing {
    d:    path("M 826.337 25.5396 C 670.97 58.656 603.696 68.787 447.802 35.1443 C 293.343 1.81111 137.334 1.81111 0 1.81111 L 0 150 L 1920 150 L 1920 1.81111 C 1739.54 -16.6854 1679.86 73.1608 1389.78 37.486 C 1099.7 1.81111 981.705 -7.5767 826.337 25.5396 Z");
    fill: #0e0e0e;
}
path.footer {
    d:    path("M 826.337 25.5396 C 670.97 58.656 603.696 68.787 447.802 35.1443 C 293.343 1.81111 137.334 1.81111 0 1.81111 L 0 150 L 1920 150 L 1920 1.81111 C 1739.54 -16.6854 1679.86 73.1608 1389.78 37.486 C 1099.7 1.81111 981.705 -7.5767 826.337 25.5396 Z");
    fill: #010101;
}
.landing-wave-path { animation: landingWaveAnimation 15s linear infinite alternate; }
@keyframes landingWaveAnimation {
    0% { d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z") }
    50% { d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z") }
    75% { d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z") }
}
@-webkit-keyframes landingWaveAnimation {
    0% { d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z") }
    50% { d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z") }
    100% { d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z") }
}
.btn,
.btn-large,
.btn-small,
.btn-flat { display: inline-flex !important; }
ul#left-sidenav.sidenav.sidenav-fixed { width: 250px !important; }
.waves-mid-page {
    position: fixed;
    top:       80%;
    left:      50%;
    transform: translate(-50%, -50%);
    width:     100%;
    z-index:   -2;
}
.waves-mid-page svg { width: 100%; }
.waves-mid-page .fill-all {
    height:  100%;
    padding: 160px;
}
@media only screen and (max-width : 992px) {
    .waves-mid-page .fill-all { padding: 260px; }
}
header.to-back,
header.to-back > div { z-index: 1; }
ul.to-front { z-index: 2; }
ul.to-front.sidenav.sidenav-fixed { background-color: transparent !important; }
@media only screen and (max-width : 992px) {
    ul.to-front.sidenav.sidenav-fixed {
       z-index:          999;
       background-color: #0e0e0e !important;
    }
}
.collection .collection-item.avatar.active-chat { background-color: #1a73e8 !important; }
.underline { text-decoration: underline !important; }
.chat-image {
    padding: 0;
    margin:  0;
    display: table;
}
.chat-link-preview {
    max-width:    70%;
    margin-left:  auto;
    margin-right: auto;
    display:      block;
}
.recents-friends .friends img {
   width:  48px;
   height: 48px;
   margin: 5px;
}
.outline-dark-darken-2 {
    box-shadow: 0 0 2pt 4pt #0e0e0e !important;
    border:     none !important;
    outline:    none !important;
}
.emojionearea-editor { color: white !important; }
.material-tooltip {
    border-radius: 10px !important;
    box-shadow:    0 0 2pt 4pt #0e0e0e !important;
    border:        none !important;
    outline:       none !important;
    background:    black !important;
}
.tiny-btn {
    transition: color .6s !important;
    color:      #9e9e9e;
}
.tiny-btn:hover {
    color:    white;
    transition: color .6s !important;
}
.modal {
    box-shadow: 0 0 2pt 4pt #0e0e0e !important;
    outline:    none !important;
    background: black !important;
}
.modal.bottom-sheet { border-radius: 20px 20px 0px 0px !important; }
.modal.bottom-sheet.tenor { height: 50% !important; }
.modal.bottom-sheet.tenor > .modal-content { height: 100% !important; }
.emojionearea-button { filter: invert(100%) !important; }
.status-badge::before {
    display:          block;
    content:          '';
    position:         absolute;
    left:             15px;
    top:              42px;
    height:           12px;
    width:            12px;
    background-color: #ddd;
    border-radius:    50%;
    border:           3px solid #0e0e0e;
    z-index:          1;
}
.status-badge.online::before { background-color: #43B581 !important; }
.status-badge.idle::before { background-color: #FAA61A !important; }
.status-badge.disturbe::before { background-color: #F04747 !important; }
.status-badge.offline::before { background-color: #747F8D !important; }
.container.large { width: 87% !important; }
.material-icons,
.material-icons-outlined,
.material-icons-rounded { font-weight: 100 !important; }
.session-close:hover {
    text-decoration: underline;
    cursor:          pointer !important;
}
.collection .collection-item.avatar i.circle { font-size: 26px !important; }