<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/static/modules/css/app/lowkey.css'>
    <link rel='stylesheet' href='/static/modules/css/materialize/materialize.css'>
    <link rel='shortcut icon' type='image/x-icon' href='http://static.lvh.me/modules/favicon/lowkey-icon.ico'/>
    <title>Lowkey - {{ title }} </title>
</head>
<body class='gradient'>
    <main id='success-section' class='container' style='margin-top: 120px !important;'>
        <div class='container'>
            <div class='card dark darken-2 rounded z-depth-5'>
                <div class='card-content center'>
                    <h5 class='center white-text'> {{ title }} </h5>
                    <span class='grey-text text-lighten-1'> {{ description }} </span><br><br>
                    <div class='container'>
                        {{#unless recover }}
                            {{#if success }}
                                <img class='responsive-img' src='/static/modules/images/auth/verify/lowkey-verified.png'>
                            {{else}}
                                <img class='responsive-img' src='/static/modules/images/auth/verify/lowkey-error.png'>
                            {{/if}} {{#if expired }}
                                <img class='responsive-img' src='/static/modules/images/auth/expired-error.png'>
                            {{/if}}
                        {{/unless}}
                        {{#if recover }}
                            <div class="row white-text valign-wrapper">
                                <div class="col s12 m6 l6">
                                    <div class="center">
                                        <h6>Esta é a sua nova palavra-passe!</h6>
                                        <span>Tenha cuidado, e guarde-a bem.</span>
                                        <br><br>
                                        <span class="grey-text"> {{ recover }} </span>
                                    </div>
                                </div>
                                <div class="col s12 m6 l6 hide-on-small-and-down">
                                    <img class='responsive-img' src='/static/modules/images/auth/verify/lowkey-verified.png'>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span class="helper-text grey-text center">
                                        <i class="material-icons" style="vertical-align: middle">error_outline</i>
                                        Lembre-se de mudar a palavra-passe nas definições de utilizador!
                                    </span>
                                </div>
                            </div>
                        {{/if}}
                        <div class='container'> <br>
                            <div class='container center'>
                                <a href="/" class="btn-flat outline-primary rounded bold primary-text">
                                    <i class="material-icons left">home</i>
                                    REGRESSAR
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>